DATABASE_URL=sqlite+aiosqlite:///./app.db

SECRET_KEY=s0me-l0ng-key

SESSION_MAX_AGE_DAYS=7

# Режим работы (development / production)
ENVIRONMENT=development
ADMIN_EMAIL=someemail@mainbox.com
ADMIN_PASSWORD=somethingwerydifficultpassword